<div class="bg-theme">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-5 panel panel-default">
        <div class="panel-body">
          <div class="text-center fg-title">
            <i class="fa fa-lock fa-4x"></i>
            <h3 class="text-center">Forgot Password?</h3>
            <div class="panel-body">

              <form class="form" [formGroup]="updateForm" (ngSubmit)="forgotPassWord()">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input placeholder="email address" class="form-control" type="email" formControlName="email">
                  </div>
                </div>
                <div class="form-group alert alert-danger" role="alert" *ngIf="errMessage !== ''">
                  <span> {{ errMessage }} </span>
                </div>
                <div class="form-group alert alert-success" role="alert" *ngIf="successMessage !== ''">
                  <span> {{ successMessage }} </span>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary" value="Reset Password" type="submit">
                </div>

                <!-- <input type="hidden" class="hide" name="token" id="token" value="">  -->
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="cursorProgress" class="global"></div>
{{ cursorProgress }}