
.form-gap {
  padding-top: 70px;
}
.panel.panel-default {
  margin: auto;
  margin-top: 70px;
  background-image: linear-gradient(to right, #dfdbe4, #d1d8e2);
  border-radius: 10px;
}

.bg-theme{
  background-image: url('../../../../assets/images/Candy.jpg');
  padding-top: 60px;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
input{
  font-size: 12px;
  height: 30px;
  border-radius: 5px;
}
.fg-title{
  padding: 20px 10px;
}

.fg-title h3{
  display: inline;
  vertical-align: 10px;
  margin-left: 20px;
  color: #1d9ed5;
}

.fg-title i{
  color: #1d9ed5;
  font-size: 60px;
    padding-bottom: 15px;
}

.global {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    z-index: 3;
    cursor: progress;
}