.tong {
  margin: 2.5%;
  margin-left: 15% !important;
  width: 70% !important;
  font-size: 16px !important;
}
.answer {
  float: left;
  clear: both;
}
.correct {
  float: left;
}
.kk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
 // font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  //color: rgb(177, 3, 3);
  margin-top: 10px;
  border-radius: 4px;
}

input[type='checkbox'] {
  transform: scale(1.5);
}
.timemedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.dapan {
  width: 100%;
}
.modal-footer {
  border-top: 0px !important;
}

label.asterisk-if-mandatory::after {
  content: " *";
}
