<div id="snackbar" class="{{ sh }}" [ngStyle]="{ visibility: hd }">
  {{ noti }}
</div>
<div class="container">
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>Edit Profile</h1>
  <hr />
  <form
    [formGroup]="editForm"
    (ngSubmit)="onSubmitUpdate()"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img
            width="250px"
            height="250px"
            *ngIf="img != null"
            class="avaimg"
            src="{{ img }}"
            onerror="this.src='../../../../assets/images/default-avatar.png'"
          />
          <input
            type="file"
            class="form-control"
            multiple accept='image/*'
            value="{{ baseURL }}/resources/images/user/{{ us.userLogin.img }}"
            formControlName="img"
            (change)="onChangeFile($event)"
          />
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3 class="col-lg-8 control-label">Chỉnh sửa thông tin</h3>

        <div class="form-group">
          <label class="col-lg-8 control-label"
            >Họ và tên :
            <label for="">
              <mat-error *ngIf="
              editForm.hasError('maxlength', ['fullname'])
            "
          >
            Full name không được quá 50 kí tự!
          </mat-error>
               <mat-error *ngIf="editForm.get('fullname').hasError('whitespace')">
                full name không được nhập space!
              </mat-error>
            </label>
          </label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              formControlName="fullname"
              (change)="checkSpaceFullName($event)"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email :</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              formControlName="email"
              readonly="true"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-8 control-label"
            >Ngày sinh:
            <label for="">
              <mat-error *ngIf="editForm.get('birthday').hasError('response')">
                Ngày sinh không được vượt quá ngày hiện tại
              </mat-error>
            </label>
          </label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="date"
              formControlName="birthday"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-8 control-label"
            >Số điện thoại:
            <mat-error *ngIf="editForm.get('phone').hasError('pattern')"
              >Chỉ được nhập số!</mat-error
            >
            <mat-error *ngIf="editForm.get('phone').hasError('maxlength')"
              >Không được quá 11 số!</mat-error
            >
          </label>
          <div class="col-lg-8">
            <input class="form-control" type="phone" formControlName="phone" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-8 control-label">Địa chỉ: </label>
          <div class="col-md-8">
            <input class="form-control" type="text" formControlName="address" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input
              type="submit"
              [disabled]="!editForm.valid"
              class="btn btn-primary btn-change"
              value="Save Changes"
            />
            <span></span>
            <button  class="btn btn-warning btn-change" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<hr />
<popup> bạn đã lưu thông tin thành công </popup>
