<div class="tong">
  <div class="divtabletrai">
    <div class="header">
      <span><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;BÀI THI </span>
      <button (click)="clickLichSu()" class="btn btn-warning">
        <i class="fa fa-history" aria-hidden="true"></i>&nbsp;Lịch sử
      </button>
    </div>
    <table class="table table-light">
      <thead>
        <tr>
          <th>Tên bài thi</th>
          <th>Chủ đề</th>
          <th style="text-align: center;width: 100px">Số câu hỏi</th>
          <th style="text-align: center;width: 100px">Thời gian</th>
          <th class="an" style="text-align: center;width: 100px">% Đỗ</th>
          <th class="an" style="text-align: center;width: 100px">Số lần thi</th>
          <th class="an" style="text-align: center;width: 120px">
            Số lần đã thi
          </th>
          <th style="width: 220px;text-align: center">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of (listResult
            | paginate: { itemsPerPage: [perPage], currentPage: p });
          trackBy: trackByFn
        "
      >
        <td title="{{ item['exam']['1'] }}" style="word-wrap: break-word;">
          {{ item['exam'][1] }}
        </td>
        <td title="{{ item['exam']['2'] }}" style="word-wrap: break-word;">
          {{ item['exam'][2] }}
        </td>
        <td style="text-align: center;width: 100px">{{ item['exam'][3] }}</td>
        <td style="text-align: center;width: 100px">{{ item['exam'][4] }}</td>
        <td class="an" style="text-align: center;width: 100px">
          {{ item['exam'][5] }}
        </td>
        <td class="an" style="text-align: center;width: 100px">
          {{ item['exam'][6] }}
        </td>
        <td class="an" style="text-align: center;width: 120px">
          {{ item['result'].length }}
        </td>
        <td class="btnaction" style="width: 220px">
          <button
            (click)="clickXemChiTiet(item['exam'][0])"
            class="btn btn-primary "
          >
            Chi tiết
          </button>
          <i
            style="padding: 5px;background-color: blueviolet;border-radius: 4px; text-align: center; vertical-align: middle; height: 25px;color: white; font-size: 8px"
            *ngIf="
              item['exam'][6] <= item['result'].length &&
              !(item['exam'][8] < nowDate)
            "
            >HẾT LƯỢT THI!</i
          >
          <i
            style="padding: 5px;background-color: rgb(197, 0, 115);border-radius: 4px; text-align: center; vertical-align: middle; height: 25px;color: white; font-size: 8px"
            *ngIf="item['exam'][8] < nowDate"
            >QUÁ HẠN THI!</i
          >
          <button
            *ngIf="
              item['exam'][6] > item['result'].length &&
              !(item['exam'][8] < nowDate)
            "
            (click)="
              clickVaoThi(item['exam'][0], item['exam'][1], item['exam'][2])
            "
            class="btn btn-danger "
            [disabled]="item['exam'][6] === item['result'].length"
          >
            Vào thi
          </button>
          <!-- <button
            (click)="
            clickKetQua(item['0'])" class="btn btn-success ">
            Kết quả
          </button> -->
        </td>
      </tbody>
    </table>
    <div class="phantrang">
      <div class="lt">
        <span for="sel1">Results per page: </span>
        <select class="ft" id="sel1" (change)="onChange($event)">
          <option>5</option>
          <option>10</option>
        </select>
      </div>
      <div class="pagi">
        <pagination-controls
          style="float:right;"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div class="noti" *ngIf="notificationVisibilityWhenDelete">
    <div id="snackbard">
      <div class="chu">Bạn có chắc muốn thi bài thi này không?</div>
      <div class="yn">
        <div id="bss1" (click)="oncg(true)">Yes</div>
        <div id="bss2" (click)="oncg(false)">No</div>
      </div>
    </div>
  </div>
</div>
