<div id="content" *ngIf="showTable">
  <div id="fu">
    <input
      id="search_box"
      class="form-control"
      type="search"
      placeholder="Tìm kiếm theo tên"
      aria-label="Search"
      (keyup)="search($event)"
    />
    <button
      type="button"
      class="btn btn-primary abtn"
      (click)="onClickAddNew()"
      *ngIf="showTable && checkRolePermission('insertchapter')"
    >
      + Thêm nội dung
    </button>
  </div>
  <table class="table table-bordered text-center " style="margin-top: 10px;">
    <thead>
      <tr>
        <th colspan="3">Id</th>
        <th
          style="vertical-align: middle;text-align: left;"
          colspan="3"
          (click)="sort('name')"
        >
          Name<i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Parent
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Subject
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Created_At
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Updated_At
        </th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let chap of (listChapter
            | paginate: { itemsPerPage: [perPage], currentPage: p });
          trackBy: trackByFn
        "
      >
        <td colspan="3">{{ chap['0'] }}</td>
        <td style="text-align: left" colspan="3">{{ chap['1'] }}</td>
        <td style="text-align: left" colspan="3">{{ chap['7'] }}</td>
        <td style="text-align: left" colspan="3">{{ chap['5'] }}</td>
        <td style="text-align: left" colspan="3">
          {{ chap['2'] | date: 'dd/MM/yyyy' }}
        </td>
        <td style="text-align: left" colspan="3">
          {{ chap['3'] | date: 'dd/MM/yyyy' }}
        </td>

        <td><i *ngIf="checkRolePermission('updatechapter')" class="fa fa-pencil" (click)="onClickUpdate(chap)"></i></td>
        <td><i *ngIf=" checkRolePermission('deletechapter')" class="fa fa-trash-o" (click)="onClickDelete(chap)"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="phantrang">
    <div class="lt">
      <span for="sel1">Results per page: </span>
      <select class="ft" id="sel1" (change)="onChange($event)">
        <option>5</option>
        <option>10</option>
        <!-- <option>15</option> -->
      </select>
    </div>
    <div class="pagi">
      <pagination-controls
        *ngIf="showTable"
        class="text-center"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <div class="container">
              <div class="container">
                <div class="container">
                  <div class="container">
                    <form
                      [formGroup]="insertForm"
                      (ngSubmit)="onSubmitInsert()"
                      enctype="multipart/form-data"
                      *ngIf="showInsertForm"
                    >
                      <div style="text-align: center">
                        <h4>Thêm mới Chapter</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label> Name Chapter <span class = "required_field">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="name"
                            (change)="checkSpaceName($event)"
                          />
                        </div>
                        <div
                          class="form-group alert alert-danger"
                          role="alert"
                          *ngIf="
                            insertForm.get('name').errors &&
                            insertForm.get('name').touched
                          "
                        >
                          <span
                            *ngIf="insertForm.hasError('required', ['name'])"
                          >
                            Bạn không được để trống name!
                          </span>
                          <span
                            *ngIf="insertForm.hasError('maxlength', ['name'])"
                          >
                            name không được quá 50 kí tự!
                          </span>
                          <span *ngIf="insertForm.get('name').hasError('pattern')">
                            name không được nhập space!
                          </span>
                        </div>
                        <div class="form-group">
                          <label> Parent</label>
                          <select                 
                            class="form-control"
                            formControlName="parent_name"
                          >
                              <option value="0"> </option>
                              <option
                              *ngFor="let ct of list"
                              value="{{ct.id }}"
                              selected
                              >
                                {{ ct.name }}
                              </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label> Subject <span class = "required_field">*</span></label>
                          <select
                            class="form-control"
                            formControlName="subject_name"
                          >
                            <option
                              *ngFor="let subject of listSubject"
                              value="{{ subject.id }}"
                              selected
                              >{{ subject.name }}</option
                            >
                          </select>
                        </div>
                        <div
                          class="form-group alert alert-danger"
                          role="alert"
                          *ngIf="
                            insertForm
                              .get('subject_name')
                              .hasError('required') &&
                            insertForm.get('subject_name').touched
                          "
                        >
                          <span> Bạn không được để trống Subject! </span>
                        </div>
                        <div
                        class="form-group alert alert-danger"
                        role="alert"
                        *ngIf="errChapter != ''"
                      >
                        <span> {{ errChapter }} </span>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" [disabled]="!insertForm.valid" class="btn btn-success">
                          Thêm mới
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="onClickCloseForm()"
                        >
                          Đóng
                        </button>
                      </div>
                    </form>
                    <!-- Form update -->
                    <form
                      [formGroup]="updateForm"
                      (ngSubmit)="onSubmitUpdate()"
                      enctype="multipart/form-data"
                      *ngIf="showUpdateForm"
                    >
                      <div style="text-align: center">
                        <h4>Update Chapter</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label> Name Chapter <span class = "required_field">*</span> </label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="name"
                            (change)="checkSpaceNameUpdate($event)"
                          />
                        </div>
                        <div
                          class="form-group alert alert-danger"
                          role="alert"
                          *ngIf="
                            updateForm.get('name').errors &&
                            updateForm.get('name').touched">
                          <span
                            *ngIf="insertForm.hasError('required', ['name'])"
                          >
                            Bạn không được để trống name!
                          </span>
                          <span
                            *ngIf="updateForm.hasError('maxlength', ['name'])"
                          >
                            name không được quá 50 kí tự!
                          </span>
                          <span *ngIf="updateForm.get('name').hasError('pattern')">
                            name không được nhập space!
                          </span>
                        </div>
                        <div class="form-group">
                          <label> Parent</label>
                          <select                 
                            class="form-control"
                            formControlName="parent_name"
                          >
                              <option value="0"> </option>
                              <option
                              *ngFor="let ct of listUpdate"
                              value="{{ct.id }}"
                              selected
                              >
                                {{ ct.name }}
                              </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label> Subject <span class = "required_field">*</span> </label>
                          <select
                            class="form-control"
                            formControlName="subject_name"
                          >
                            <option
                              *ngFor="let subject of listSubject"
                              value="{{ subject.id }}"
                              selected
                              >{{ subject.name }}</option
                            >
                          </select>
                        </div>
                        <div
                          class="form-group alert alert-danger"
                          role="alert"
                          *ngIf="
                            insertForm
                              .get('subject_name')
                              .hasError('required') &&
                            insertForm.get('subject_name').touched
                          "
                        >
                          <span> Bạn không được để trống Subject! </span>
                        </div>
                        <div
                          class="form-group alert alert-danger"
                          role="alert"
                          *ngIf="errChapter != ''"
                        >
                          <span> {{ errChapter }} </span>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="submit" [disabled]="!updateForm.valid" class="btn btn-success">
                          Cập nhật
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="onClickCloseForm()"
                        >
                          Đóng
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<popup #popupDelete (confirmClick)="confirmDeleteClick()">
  Bạn có chắc chắn muốn xóa ?
</popup>
<popup #popupApplyFailed> Cần ít nhất 2 bản ghi được kích hoạt ! </popup>
