<div class="tong">
  <form [formGroup]="insertForm" (ngSubmit)="insertForm.valid" enctype="multipart/form-data">
    <div style="text-align: center"><h4>Thêm mới Câu hỏi</h4></div>
    <div class="modal-body">
      <div class="form-group">
        <label> Tiêu đề<span class = "required_field">(*)</span></label>
        <input type="text" class="form-control" formControlName="title"  [ngClass]="{'is-invalid': insertForm.get('title').touched && insertForm.get('title').invalid}" required />
        <div class="invalid-feedback">
          <div *ngIf="insertForm.hasError('maxlength', ['title'])">Độ dài không vượt quá 250 kí tự</div>
          <div *ngIf="insertForm.hasError('whitespace', ['title'])">Không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label> Nội dung<span class = "required_field">(*)</span></label>
        <textarea
          type="text"
          class="form-control"
          formControlName="content" [ngClass]="{'is-invalid': insertForm.get('content').touched && insertForm.get('content').invalid}" required
          row="5"
        ></textarea>
        <div class="invalid-feedback">
          <div *ngIf="insertForm.hasError('maxlength', ['content'])">Độ dài không vượt quá 1000 kí tự</div>
          <div *ngIf="insertForm.hasError('whitespace', ['content'])">vui lòng nhập giá trị cho câu hỏi & chứa kí tự</div>
        </div>
      </div>
      <div class="timemedia">
        <div style="width: 45%">
          <div class="form-group">
            <label> Thời gian(s)<span class = "required_field">(*)</span></label>
            <input
              type="number"
              min="1"
              onkeypress="return event.charCode >= 48"
              class="form-control"
              formControlName="time"  [ngClass]="{'is-invalid': insertForm.get('time').touched && insertForm.get('time').invalid}" required
            />
            <div class="invalid-feedback">
              <div>Không được để trống</div>
            </div>
          </div>
        </div>
        <div style="width: 50%">
          <div class="form-group">
            <label> Media:</label>
            <input
              type="file"
              (change)="selectFile($event)"
              class="form-control"
              formControlName="media" [ngClass]="{'is-invalid': insertForm.get('media').touched && insertForm.get('media').invalid}"
            />
          </div>
          <div *ngIf="insertForm.hasError('extension', ['media'])">Không đúng định dạng !!</div>
        </div>
      </div>
      <div class="timemedia">
        <div style="width: 30%">
          <div class="form-group">
            <label> Môn thi<span class = "required_field">(*)</span></label>
            <select
              (change)="onChange($event)"
              class="form-control"
              formControlName="subject" [ngClass]="{'is-invalid': insertForm.get('subject').touched && insertForm.get('subject').invalid}" required>
              <option [value]="subject.id" *ngFor="let subject of subjects">{{
                subject.name
              }}</option>
            </select>
            <div class="invalid-feedback">
              <div>Vui lòng chọn môn thi!!</div>
            </div>
          </div>
        </div>
        <div style="width: 30%">
          <div class="form-group">
            <label> Chương<span class = "required_field">(*)</span></label>
            <select
              class="form-control"
              formControlName="chapter" [(ngModel)]="defaultCt" [ngClass]="{'is-invalid': insertForm.get('chapter').touched && insertForm.get('chapter').invalid}" required>
              <option [value]="chapter.id" *ngFor="let chapter of chapters">{{
                chapter.name
              }}</option>
            </select>
            <div class="invalid-feedback">
              <div>Vui lòng chọn chương!!</div>
            </div>
          </div>
        </div>
        <div style="width: 30%">
          <div class="form-group">
            <label> Kĩ năng<span class = "required_field">(*)</span></label>
            <select
              class="form-control"
              formControlName="domain" [(ngModel)]="defaultDm" [ngClass]="{'is-invalid': insertForm.get('domain').touched && insertForm.get('domain').invalid}" required>
              <option [value]="domain.id" *ngFor="let domain of domains">{{
                domain.name
              }}</option>
            </select>
            <div class="invalid-feedback">
              <div>Vui lòng chọn kĩ năng!!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="them cau hoi" style="width: 100%;">
        <button
          class="btn btn-primary add"
          (click)="onclick()"
          style="margin-top: 10px; width: 20%;position: relative;float: right">+ Thêm câu trả lời
        </button>
        <div class="dapan" style="width: 100%;">
            <div class="kk" style="width: 100%;height: 30px;margin-top: 10px;" formArrayName="answers"
              *ngFor="let answer of insertForm.get('answers').controls; let j = index">

              <!-- <label class="asterisk-if-mandatory" style="width: 10%;">Đáp án {{ j + 1 }} :</label> -->
              <label> Đáp án:{{j + 1}}<span class = "required_field">(*)</span></label>
              
              <div class="kk" [formGroupName] = "j">
                <input
                  formControlName="contentanswer"
                  style="width: 85%;height: 100%;border-radius: 4px;border: 2px solid rgb(187, 187, 187);"/>
                 
                <div
                  class="correct"
                  style="width: 15%;">
                  <div style="height: 30px;" class="kk">
                    <input class="radio-inline"  formControlName="correctanswer" type="checkbox" />
                    <i (click)="ondelete($event, j)" class="fa fa-trash-o"></i>
                   
                  </div>
                </div>
                
              </div>
              <div style="width: 20%">
                <div *ngIf="isValid('contentanswer',j)" style="color: red">Phải nhập nội dung câu hỏi </div>
              <div *ngIf="!isValid('correctanswer')" style="color: red"> Phải nhập ít nhất 1 câu đúng</div> 
              </div>
            </div>
          </div>
        </div>
        </div>
    <!-- Button them moi va dong -->
    <div class="modal-footer" style="width: 20%;">
      <button [disabled]="!insertForm.valid"
        type="submit"
        class="btn btn-success"
        (click)="onAdd()"
        style="width: 70%">
        Thêm mới
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onClickCloseForm()"
        style="width: 70%">
        Đóng
      </button>
    </div>
  </form>
</div>
