// Khong cho outline khi tro chuot vao cac the + khong hien thi scroll bar
* {
  outline: 0px !important;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}
// Thông báo khi klick forget pass
#snackbar {
  min-width: 100%;
  height: 80px;
  background-color: #0966df;
  color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  padding: 26px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  font-size: 25px !important;
  box-shadow: 1px 8px 10px rgb(173, 173, 173);
}
// Thông báo khi klick forget pass

// Div register giữa
.registertong {
  padding-top: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  vertical-align: middle;
  background-image: url('../../../../assets/images/Candy.jpg');
  background-size: cover;
}
.formlogin {
  background-color: rgba(250, 227, 227, 0.4);
  padding: 30px;
  width: 30%;
  color: #1d9ed5;
  font-size: 12px;
  border-radius: 10px;
}
.iconlogin {
  font-size: 60px;
  color: #1d9ed5;
  position: absolute;
}
.duoilogin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  font-size: 12px;
  height: 30px;
}
.loginbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
}
.loginbutton button {
  width: 100%;
  height: 40px;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
// Div register giữa

@media all and (max-width: 1500px) {
  .formlogin {
    width: 40%;
  }
}
@media all and (max-width: 1200px) {
  .formlogin {
    width: 50%;
  }
}
@media all and (max-width: 1000px) {
  .formlogin {
    width: 60%;
  }
}
@media all and (max-width: 800px) {
  .formlogin {
    width: 80%;
  }
}
@media all and (max-width: 600px) {
  .formlogin {
    width: 95%;
  }
}
