<div id="content" *ngIf="showTable">
  <div id="fu">
    <input
      id="search_box"
      class="form-control"
      type="search"
      placeholder="Tìm kiếm theo tên"
      aria-label="Search"
      (keyup)="filterByTitle($event)"
    />

  </div>
  <table class="table table-bordered text-center " style="margin-top: 10px;">
    <thead>
      <tr>
        <th style="vertical-align: middle;text-align: center;" colspan="3">
          Id
        </th>
        <th
          style="vertical-align: middle;text-align: left;"
          colspan="3"
          (click)="sort()"
        >
           Name<i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Email
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Phone
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Subject
        </th>
        <th style="vertical-align: middle;text-align: left;" colspan="3">
          Message
        </th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let customer of (listCustomer
            | paginate: { itemsPerPage: [perPage], currentPage: p });
          trackBy: trackByFn
        "
      >
        <td colspan="3">{{ customer.id }}</td>
        <td style="text-align: left" colspan="3">{{ customer.name }}</td>
        <td style="text-align: left" colspan="3">{{ customer.email }}</td>
        <td style="text-align: left" colspan="3">{{ customer.phone }}</td>
        <td style="text-align: left" colspan="3">{{ customer.subject }}</td>
        <td style="text-align: left" colspan="3">{{ customer.message }}</td>

        <td><i class="fa fa-trash-o" (click)="onClickDelete(customer)"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="phantrang">
    <div class="lt">
      <span for="sel1">Results per page: </span>
      <select class="ft" id="sel1" (change)="onChange($event)">
        <option>5</option>
        <option>10</option>
        <!-- <option>15</option> -->
      </select>
    </div>
    <div class="pagi">
      <pagination-controls
        *ngIf="showTable"
        class="text-center"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
