.slider-jobs .slick-slide {
  margin: 0px 10px;
  height: auto;
}

.slider-jobs .slide-item {
  height: 80px;
  border: 3px solid #cccccc;
  transition: border-color 0.25s ease;
}

.slider-jobs .slide-item:hover {
  cursor: pointer;
}

.slider-jobs .slide-item.slide-item-selected {
  border-color: rgba(28, 154, 214, 1);
}

.slider-jobs .slide-item label {
  font-family: 'GothamB', sans-serif;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-jobs .slide-item input[type='checkbox'] {
  display: none;
}

.slider-jobs .slide-item-wrapper {
  width: 100%;
  height: 100vh;
  display: inline-block;
  text-align: center;
  position: relative;
}

.slider-jobs .slick-next,
.slider-jobs .slick-prev {
  top: 40%;
}

.slider-jobs .slick-prev {
  left: -20px;
}

.slider-jobs .slick-next:hover:before,
.slider-jobs .slick-prev:hover:before {
  color: #000000;
}

.slider-jobs .slick-next:before,
.slider-jobs .slick-prev:before {
  font-size: 40px;
  color: #d5d5d5;
  transition: color 0.25s ease;
  font-family: inherit;
}

@media screen and (max-width: 768px) {
  .slider-jobs .slick-next,
  .slider-jobs .slick-prev {
    top: 45%;
  }
}
