<!-- Page Content -->
<div id="content" *ngIf="showTable">
  <div id="fu">
    <input
      id="search_box"
      class="form-control"
      type="search"
      placeholder="Tìm kiếm theo tên"
      aria-label="Search"
      (keyup)="search($event)"
    />

    <button
      type="button"
      class="btn btn-primary abtn"
      (click)="onClickAddNew()"
      *ngIf="showTable && checkRolePermission('insertmenu')"
    >
      + Thêm nội dung
    </button>
  </div>
  <table class="table table-bordered text-center" style="margin-top: 10px;">
    <thead>
      <tr>
        <th colspan="3">Id</th>
        <th style="text-align: left" colspan="3">Name</th>
        <th style="text-align: left" colspan="3">Parent_name</th>
        <th style="text-align: left" colspan="3">Icon</th>
        <th style="text-align: left" colspan="3">Link</th>
        <th style="text-align: left" colspan="3">Order_num</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let menu of (listMenu
            | paginate: { itemsPerPage: [perPage], currentPage: p });
          trackBy: trackByFn
        "
      >
        <td colspan="3">{{ menu['0']}}</td>
        <td style="text-align: left" colspan="3">{{ menu['1'] }}</td>
        <td style="text-align: left" colspan="3">{{ menu['5'] }}</td>
        <td style="text-align: left" colspan="3">{{ menu['2'] }}</td>
        <td style="text-align: left" colspan="3">{{ menu['3'] }}</td>
        <td style="text-align: left" colspan="3">{{ menu['4'] }}</td>
        <td style="text-align: center">
          <i *ngIf=" checkRolePermission('updatemenu')" class="fa fa-pencil" (click)="onClickUpdate(menu)"></i>
        </td>
        <td style="text-align: center">
          <i *ngIf=" checkRolePermission('deletemenu')" class="fa fa-trash-o" (click)="onClickDelete(menu)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="phantrang">
    <div class="lt">
      <span for="sel1">Results per page: </span>
      <select class="ft" id="sel1" (change)="onChange($event)">
        <option>5</option>
        <option>10</option>
        <!-- <option>15</option> -->
      </select>
    </div>
    <div class="pagi">
      <pagination-controls
        *ngIf="showTable"
        class="text-center"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <div class="container">
              <div class="container">
                <form
                  [formGroup]="insertForm"
                  (ngSubmit)="onSubmitInsert()"
                  enctype="multipart/form-data"
                  *ngIf="showInsertForm"
                >
                  <div style="text-align: center">
                    <h4>Thêm mới nội dung</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label> Name Menu <span class = "required_field">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        (change)="checkSpaceName($event)"
                      />
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        insertForm.get('name').errors &&
                        insertForm.get('name').touched
                      "
                    >
                      <span *ngIf="insertForm.hasError('required', ['name'])">
                        Bạn không được để trống name!
                      </span>
                      <span *ngIf="insertForm.hasError('maxlength', ['name'])">
                        Name không được quá 50 kí tự!
                      </span>
                      <span *ngIf="insertForm.get('name').hasError('pattern')">
                        Name không được nhập space!
                      </span>
                    </div>
                    <div class="form-group">
                      <label> parent_name
                      </label>
                      <select                 
                            class="form-control"
                            formControlName="parent_name"
                          >
                              <option value="0"> </option>
                              <option
                              *ngFor="let mn of listParentName"
                              value="{{mn.id }}"
                              selected
                              >
                                {{ mn.name }}
                              </option>
                          </select>
                    </div>
                    <div class="form-group">
                      <label> Icon <span class = "required_field">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="icon"
                        (change)="checkSpaceIcon($event)"
                      />
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        insertForm.get('icon').errors &&
                        insertForm.get('icon').touched
                      "
                    >
                      <span
                        *ngIf="insertForm.hasError('required', ['icon'])"
                      >
                        Bạn không được để trống icon!
                      </span>
                      <span
                        *ngIf="insertForm.hasError('maxlength', ['icon'])"
                      >
                        Icon không được quá 20 kí tự!
                      </span>
                      <span *ngIf="insertForm.get('icon').hasError('pattern')">
                        Icon không được nhập space!
                      </span>
                    </div>
                    <div class="form-group">
                      <label> Link <span class = "required_field">*</span></label>
                      <input
                      type="text"
                      class="form-control"
                      formControlName="link"
                      (change)="checkSpaceLink($event)"
                    />
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        insertForm.get('link').errors &&
                        insertForm.get('link').touched
                      "
                    >
                      <span *ngIf="insertForm.hasError('required', ['link'])">
                        Bạn không được để trống link!
                      </span>
                      <span
                        *ngIf="insertForm.hasError('maxlength', ['link'])"
                      >
                        Link không được quá 30 kí tự!
                      </span>
                      <span *ngIf="insertForm.get('link').hasError('pattern')">
                        Icon không được nhập space!
                      </span>
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="errorMenu != ''"
                    >
                      <span> {{ errorMenu }} </span>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" [disabled]="!insertForm.valid" class="btn btn-success">
                      Thêm mới
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="onClickCloseForm()"
                    >
                      Đóng
                    </button>
                  </div>
                </form>

                <form
                  [formGroup]="updateForm"
                  (ngSubmit)="onSubmitUpdate()"
                  enctype="multipart/form-data"
                  *ngIf="showUpdateForm"
                >
                  <div style="text-align: center">
                    <h4>Cập nhật nội dung</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                      <label> Name Menu <span class = "required_field">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        (change)="checkSpaceNameUpdate($event)"
                      />
                    </div>

                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        updateForm.get('name').errors &&
                        updateForm.get('name').touched
                      "
                    >
                      <span *ngIf="updateForm.hasError('required', ['name'])">
                        Bạn không được để trống name!
                      </span>
                      <span *ngIf="updateForm.hasError('maxlength', ['name'])">
                        Name không được quá 50 kí tự!
                      </span>
                      <span *ngIf="updateForm.get('name').hasError('pattern')">
                        Name không được nhập space!
                      </span>
                    </div>
                    <div class="form-group">
                      <label> parent_name
                      </label>
                      <select                 
                            class="form-control"
                            formControlName="parent_name"
                          >
                              <option value="0"> </option>
                              <option
                              *ngFor="let mn of listParentName"
                              value="{{mn.id }}"
                              selected
                              >
                                {{ mn.name }}
                              </option>
                          </select>
                    </div>
                    <div class="form-group">
                      <label> Icon <span class = "required_field">*</span></label>
                      <input
                      type="text"
                      class="form-control"
                      formControlName="icon"
                      (change)="checkSpaceIconUpdate($event)"
                    />
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        updateForm.get('icon').errors &&
                        updateForm.get('icon').touched
                      "
                    >
                      <span
                        *ngIf="updateForm.hasError('required', ['icon'])"
                      >
                        Bạn không được để trống icon!
                      </span>
                      <span
                        *ngIf="updateForm.hasError('maxlength', ['icon'])"
                      >
                        Icon không được quá 20 kí tự!
                      </span>
                      <span *ngIf="updateForm.get('icon').hasError('pattern')">
                        Icon không được nhập space!
                      </span>
                    </div>
                    <div class="form-group">
                      <label> Link <span class = "required_field">*</span></label>
                      <input
                      type="text"
                      class="form-control"
                      formControlName="link"
                      (change)="checkSpaceLinkUpdate($event)"
                    />
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        updateForm.get('link').errors &&
                        updateForm.get('link').touched
                      "
                    >
                      <span *ngIf="updateForm.hasError('required', ['link'])">
                        Bạn không được để trống link!
                      </span>
                      <span
                        *ngIf="updateForm.hasError('maxlength', ['link'])"
                      >
                        Link không được quá 256 kí tự!
                      </span>
                      <span *ngIf="updateForm.get('link').hasError('pattern')">
                        Link không được nhập space!
                      </span>
                    </div>
                    <div class="form-group">
                      <label> Order_num <span class = "required_field">*</span></label>
                      <input
                      type="number"
                      class="form-control"
                      formControlName="order_num"
                    />
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="
                        updateForm.get('order_num').errors &&
                        updateForm.get('order_num').touched
                      "
                    >
                      <span *ngIf="updateForm.hasError('required', ['order_num'])">
                        Bạn không được để trống order_num!
                      </span>
                    </div>
                    <div
                      class="form-group alert alert-danger"
                      role="alert"
                      *ngIf="errorMenu != ''"
                    >
                      <span> {{ errorMenu }} </span>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" [disabled]="!updateForm.valid" class="btn btn-success">
                      Cập nhật
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="onClickCloseForm()"
                    >
                      Đóng
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<popup #popupDelete (confirmClick)="confirmDeleteClick()">
  Bạn có chắc chắn muốn xóa ?
</popup>

<popup #popupApplyFailed> Cần ít nhất 2 bản ghi được kích hoạt ! </popup>
