/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.css';

// @import "~font-awesome/css/font-awesome.css";
body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
// CSS cho slideshow
.carousel-indicators {
  bottom: -10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 12px;
}
.carousel-control-prev {
  width: 50px;
}
.carousel-control-next {
  width: 50px;
}
