<div id="snackbar" class="{{sh}}" [ngStyle]="{ visibility: hd }">
  {{ noti }}
</div>
<div class="registertong">
  <div class="formlogin">

    <div class="panel">
      <h2 style="font-size: 60px;text-align: center;color: #1d9ed5;">
        <i class="fa fa-key"></i>
      </h2>
      <br />
    </div>
    <form style="padding:0px" [formGroup]="updateForm" (ngSubmit)="changePassWord()" enctype="multipart/form-data"
      class="col-md-12">
      <div class="form-group" formGroupName="pass">
        <label>Mật khẩu mới:
          <mat-error *ngIf="
              updateForm.get('pass.password').hasError('required') &&
              updateForm.get('pass.password').touched
            "
            style="color: red">
            Không được để trống!
          </mat-error>
          <mat-error *ngIf="updateForm.get('pass.password').hasError('maxlength')">Không được quá 6 kí tự</mat-error>
          <mat-error *ngIf="updateForm.get('pass.password').hasError('pattern')">Mật khẩu phải bao gồm ít nhất 1 số, không được có dấu cách, từ 6 đến 20 kí tự</mat-error>
        </label>

        <input type="password" class="form-control" formControlName="password" value="" />
      </div>

      <div class="form-group" formGroupName="pass">
        <label>Xác nhận mật khẩu:</label>
        <input type="password" class="form-control" formControlName="confirmPassword" value="" />
      </div>
      <div class="form-group alert alert-danger" role="alert" *ngIf="
              updateForm.get('pass').errors &&
              updateForm.get('pass.password').touched &&
              updateForm.get('pass.confirmPassword').touched
            ">
        <span *ngIf="updateForm.hasError('passwordNotMatch', ['pass'])">
          Mật khẩu không khớp!
        </span>
      </div>
      <div class="form-group alert alert-danger" role="alert" *ngIf="errMessage !== ''">
        <span> {{ errMessage }} </span>
      </div>
      <div>
        <mat-error *ngIf="errMessage !== ''" style="color: red;font-size: 18px">
          {{ errMessage }}
        </mat-error>
      </div>
      <div class="loginbutton">
        <input type="submit" [disabled]="!updateForm.valid" class="btn btn-primary" value="Change Password" />
      </div>

    </form>
  </div>
</div>
