<div class="mainclass-fluid">
  <!-- <div class="bannerimg"></div> -->
  <div class="bannerimg">
    <div class="container">
      <div class="rowsss">
        <div style="padding:2%">
          <div class="text-center">
            <img
              width="80px"
              height="80px"
              class="avaimg"
              src="{{ img }}"
              onerror="this.src='../../../../assets/images/default-avatar.png'"
            />

            <h3 style="margin:2%">{{ adminname }}</h3>
          </div>
          <div class="text-center action">
            <!-- <img src="../../../../assets/images/Picture1.jpg" /> -->
            <button class="btn btn-primary" (click)="editprofile()">
              Edit Profile
            </button>
            <button class="btn btn-danger" (click)="changepass()">
              Change Password
            </button>
          </div>
        </div>
        <div class="">
          <table id="customers">
            <tr>
              <td>Id</td>
              <td>{{ adminID }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ adminStatus }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ adminemail }}</td>
            </tr>
            <tr>
              <td>Mobile Phone</td>
              <td>{{ adminPhone }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{ adminAddress }}</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>Việt Nam</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 listExamByUser">
      <h3 class="text-center">Bài thi exam</h3>
      <table class="table table-light">
        <thead>
          <tr>
            <!-- <th>STT</th> -->
            <th>Tên Bài Thi</th>
            <th>Chủ đề</th>
            <th>Số câu hỏi</th>
            <th>Thời gian làm bài</th>
            <th>% Đỗ</th>
            <th>Số lần thi tối đa</th>
            <th>Số lần đã thi</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listExam">
          <tr>
            <!-- <td>{{ item['0'] }}</td> -->
            <td>{{ item['1'] }}</td>
            <td>{{ item['2'] }}</td>
            <td>{{ item['3'] }}</td>
            <td>{{ item['4'] }}</td>
            <td>{{ item['5'] }}</td>
            <td>{{ item['6'] }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5 listPracticeByUser">
      <h3 class="text-center">Bài thi practice</h3>
      <table class="table table-light">
        <thead>
          <tr>
            <!-- <th>STT</th> -->
            <th>Tên Bài Thi</th>
            <th>Chủ đề</th>
            <th>Số câu hỏi</th>
            <th>Ngày tạo</th>
            <th>Số lần thi</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listPractice">
          <tr>
            <!-- <td>{{ item['0'] }}</td> -->
            <td>{{ item['1'] }}</td>
            <td>{{ item['2'] }}</td>
            <td>{{ item['3'] }}</td>
            <td>{{ item['4'] }}</td>
            <td>{{ item['5'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
